.wrapper {
  text-align: center;
}
.wrapper a {
  font-weight: bold;
  color: blue;
}

.filterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.filterWrapper input {
  margin-left: 10px;
}
